body {
    /* background-color: rgb(151, 151, 151); */
    text-align: center;
    margin-top: 3rem;
}

h1 {
    color: rgb(107, 159, 226);
}

#subEngine {
    font-size: 2rem;
    margin-left: 1rem;
    background-color: rgb(107, 159, 226);
}

#q {
    margin-right: 1rem;
}

#searchForm {
    font-size: 30px;
}